<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5178293712-s4u2618tnh6nugbdc9kunst95kapm785.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5178293712-s4u2618tnh6nugbdc9kunst95kapm785</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5178293712-cnn5dh3ls9q6hagkushc61belucjqca5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcdSYroI6BrT4sEVPRBB5yloNu6PChpH0</string>
	<key>GCM_SENDER_ID</key>
	<string>5178293712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dz.dressy</string>
	<key>PROJECT_ID</key>
	<string>dressy-61133</string>
	<key>STORAGE_BUCKET</key>
	<string>dressy-61133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5178293712:ios:07ce77f66157eae6854dd5</string>
	<key>DATABASE_URL</key>
	<string>https://dressy-61133.firebaseio.com</string>
</dict>
</plist>